.about-me-img {
  height: 11.375em;
  margin-bottom: 2em;
}

.about-me-header {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.2;
  line-height: 1.1;
  margin-bottom: 1em;
}

.article-section {
  margin-bottom: 0;
}

@media (min-width: 600px) {
  .about-me-container {
    display: flex;
    align-items: center;
    gap: 1em;
  }

  .about-me-header {
    margin-bottom: 0.5em;
    letter-spacing: 0.1px;
    line-height: 1;
  }

  .hero-post-text {
    padding: 0;
  }
}
