*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
p,
h1,
h2,
h3,
.nav-list {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: #fff;
  padding: 1em 0.8em;
  position: relative;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  /* width: 15% */
}

.title-container {
  display: flex;
  align-items: center;
  gap: 0.3em;
}

.nav-btn {
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}

.nav-btn-icon {
  color: #000;
  font-size: 1.3rem;
}

.nav-list {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;

  display: block;
  text-align: center;
  list-style: none;
  padding: 1em 2em;

  background-color: #fff;
  z-index: 999;

  border-top: 1px solid #000;
}

.nav-list li {
  margin-bottom: 0.5em;
  padding: 1em 0;
}

.nav-list li:last-child {
  border: none;
  margin-bottom: 0;
}

.nav-list a {
  text-transform: uppercase;
}

nav a {
  text-decoration: none;
  color: inherit;
}

nav a,
.nav-list a {
  font-size: inherit;
  font-weight: 600;
}

/* hero */
.hero-post-link {
  text-decoration: none;
}

.hero-article {
  background: url('/images/mobile/article-image-hero.png') no-repeat center center
  background-size: cover;
  width: 100%;
  position: relative;
  padding: 4em 1em 1em 1em;
}

.hero-article::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}

.date-text {
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-bottom: 0.8em;
}

.hero-header {
  font-size: 1.5rem;
  margin-bottom: 0.8em;
}

.hero-header,
.hero-article p {
  position: relative;
  color: #fff;
  line-height: 1.25;
}

.hero-article-text {
  font-size: inherit;
}

/* posts */
.article-section {
  margin: 2em auto;
  padding: 0 1.5em 1em 1.5em;
}

.post:not(:last-child) {
  margin-bottom: 3em;
}

.post-img {
  object-fit: cover;
  width: 100%;
}

.article-date {
  font-size: 0.7rem;
  margin: 1em 0;
}

.post-heading {
  font-size: 1.4rem;
  margin-bottom: 0.5em;
}

.view-more-btn-container {
  text-align: center;
  margin-bottom: 2em;
}

.view-more-btn {
  border: none;
  background-color: transparent;
  color: #000;
  font-weight: 700;
  text-decoration: underline;
  transition: all 0.2s;
}

/* footer */
footer {
  text-align: center;
  background-color: #202020;
  color: #fff;
  padding: 2em;
}

.footer-title {
  font-weight: 700;
  margin-bottom: 0.3em;
}

.copyright-text {
  font-size: 0.9rem;
  font-weight: 300;
}

.footer-title,
.copyright-text {
  text-transform: capitalize;
}

/* utility */
.hidden {
  display: none;
}

@media (min-width: 600px) {
  .hero-article {
    background: url('/images/desktop/blog-image-hero.png') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 3em 3em 3em;
  }

  .hero-article::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
  }

  .date-text {
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 0.8em;
  }

  .hero-header {
    font-size: 2rem;
    margin-bottom: 0.8em;
  }

  .hero-header,
  .hero-article p {
    position: relative;
    color: #fff;
    line-height: 1.25;
  }

  .hero-article-text {
    font-size: 1.125rem;
  }

  /* posts */
  .article-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;

    margin: 2em auto;
    padding: 0 1.5em 1em 1.5em;
  }

  .post:not(:last-child) {
    margin-bottom: 3em;
  }

  .post-img {
    object-fit: cover;
    width: 100%;
  }

  .article-date {
    font-size: 0.7rem;
    margin: 1em 0;
  }

  .post-heading {
    font-size: 1.4rem;
    margin-bottom: 0.5em;
  }

  .view-more-btn-container {
    display: none;
  }

  .view-more-btn:hover,
  .view-more-btn:active {
    opacity: 0.5;
  }

  /* footer */
  footer {
    text-align: center;
    background-color: #202020;
    color: #fff;
    padding: 2em;
  }

  .footer-title {
    font-weight: 700;
    margin-bottom: 0.3em;
  }

  .copyright-text {
    font-size: 0.9rem;
    font-weight: 300;
  }

  .footer-title,
  .copyright-text {
    text-transform: capitalize;
  }
}

/* utility */

.container {
  margin: 0 auto;
  max-width: 75em;
}

@media (min-width: 900px) {
  .hero-post-link:hover,
  .hero-post-link:active {
    opacity: 0.9;
  }

  .hero-article {
    background: url('/images/desktop/blog-image-hero.png') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 3em 3em 3em;
  }

  .hero-article::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
  }

  .date-text {
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 0.8em;
  }

  .hero-header {
    font-size: 2rem;
    margin-bottom: 0.8em;
  }

  .hero-header,
  .hero-article p {
    position: relative;
    color: #fff;
    line-height: 1.25;
  }

  .hero-article-text {
    font-size: 1.125rem;
  }

  /* posts */
  .article-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;

    margin: 2em auto;
    padding: 0 1.5em 1em 1.5em;
  }

  .post:not(:last-child) {
    margin-bottom: 3em;
  }

  .post-img {
    object-fit: cover;
    width: 100%;
  }

  .article-date {
    font-size: 0.7rem;
    margin: 1em 0;
  }

  .post-heading {
    font-size: 1.4rem;
    margin-bottom: 0.5em;
  }

  .view-more-btn:hover,
  .view-more-btn:active {
    opacity: 0.5;
  }

  /* footer */
  footer {
    text-align: center;
    background-color: #202020;
    color: #fff;
    padding: 2em;
  }

  .footer-title {
    font-weight: 700;
    margin-bottom: 0.3em;
  }

  .copyright-text {
    font-size: 0.9rem;
    font-weight: 300;
  }

  .footer-title,
  .copyright-text {
    text-transform: capitalize;
  }
}
